* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #eaeaea;
    width: 100vw;
    padding: 1% 1%;
}

.highscores-return {
    display: inline-block;
    text-transform: uppercase;
    font-family: "interstate", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
}

.highscores-return:hover {
    opacity: 75%;
    transition: all 0.3s ease 0s;
}

a:visited {
    color: black;
}

#timer {
    text-transform: uppercase;
    font-family: "interstate", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-family: "interstate", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    margin: 0px 0px 10px 0px;
}

#hero-text {
    margin: 0px 0px 10px 0px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100vw;
    height:100vh;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width:50%;
}

#start-quiz {
    background-color: #0275d8;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin: 25px 0px 0px 0px;
  }

#start-quiz:hover {
    background-color: #0088ff;
    transition: all 0.3s ease 0s;
}

/* JS */
h2 {
    text-transform: uppercase;
    text-align: center;
    font-family: "interstate", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
}

#choices-container {
    display: flex;
    flex-direction: row;
}

.choices-btn {
    background-color: #0275d8;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin: 10px;
}

.choices-btn:hover {
    background-color: #0088ff;
    transition: all 0.3s ease 0s;
}